
{
    "name": "$(package_name)",
    "type": "library",
    "description": "The Salto PHP SDK",
    "require": {
$(dependencies)
    },
    "autoload": {
        "psr-4": {
$(autoloading)
        }
    }
}
